<div class="container">
  <div class="row">

    <div class="col-2">
      <div class="user-details-container">
        <img class="user-image" src="https://randomuser.me/api/portraits/lego/3.jpg"/>
        <span class="user-title">{{userDetailsForm.get('fullName').value}}</span>
        <!-- <p class="user-bio">{{userDetailsForm.get('bio').value}}</p> -->
      </div>
    </div>

    <div class="col">

      <h2 class="section-title">Patient details</h2>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">

                <!-- Allergies -->
                <mat-label>Do you have allergies?</mat-label>
                <mat-radio-group placeholder="Do you have allergies?" formGroupName="allergiesSelection">
                  <mat-radio-button class="example-radio-button" *ngFor="let allergy of allergyOptions" [value]="allergy">
                  {{allergy}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngFor="let validation of validation_messages.allergyValidation">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('allergiesSelection').hasError(validation.type) && (userDetailsForm.get('allergiesSelection').dirty || userDetailsForm.get('allergiesSelection').touched)">{{validation.message}}</mat-error>
              </mat-error>
              <br/>
        
        <!-- Gender -->
         <mat-form-field class="full-width">
          <mat-select placeholder="What is your gender?" formControlName="genderSelection" required>
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.genderValidation">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('genderSelection').hasError(validation.type) && (userDetailsForm.get('genderSelection').dirty || userDetailsForm.get('genderSelection').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field> 

         <!-- Date of Birth -->
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="What is your date of birth?" formControlName="birthDay" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.birthDayValidation">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('birthDay').hasError(validation.type) && (userDetailsForm.get('birthDay').dirty || userDetailsForm.get('birthDay').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

       <!-- Birth Country -->
        <mat-form-field class="full-width">
          <input matInput placeholder="What is your country of birth?" formControlName="birthCountry" required>
          <mat-error *ngFor="let validation of validation_messages.birthCountryValidation">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('birthCountry').hasError(validation.type) && (userDetailsForm.get('birthCountry').dirty || userDetailsForm.get('birthCountry').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

         <!-- Martial Status -->
        <mat-form-field class="full-width">
          <mat-select placeholder="What is your marital status" formControlName="maritalstatus" required>
            <mat-option *ngFor="let martialStatus of martialStatusOptions" [value]="martialStatus">
              {{ martialStatus }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.maritalstatusValidation">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('maritalstatus').hasError(validation.type) && (userDetailsForm.get('maritalstatus').dirty || userDetailsForm.get('maritalstatus').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field> 


        <!-- Smoke -->
        <mat-label> Do you smoke?</mat-label>
        <mat-radio-group placeholder="Do you smoke?" formGroupName="allergiesSelection">
          <mat-radio-button class="example-radio-button" *ngFor="let smoke of smokeOptions" [value]="smoke">
          {{smoke}}
        </mat-radio-button>
      </mat-radio-group>
      <br/>
        <!-- Alchohol -->
        <mat-label>Do you drink alchohol?</mat-label>
        <mat-radio-group placeholder="Do you drink alchohol?" formGroupName="allergiesSelection">
          <mat-radio-button class="example-radio-button" *ngFor="let alchohol of alchoholOptions" [value]="alchohol">
          {{alchohol}}
         </mat-radio-button>
      </mat-radio-group>


<br/>
        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">
          Submit
        </button>

      </form>
    </div>
  </div>
</div>
